{% load static %}


<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Snap To Fit{% endblock title %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/ac298c0bbf.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
    <body>
        <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>