<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SnapToFit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/ac298c0bbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="container main">
        <!-- <div class="container left">

            <form action="" class="login">
                <div class="logo">
                    <h1>
                        <Span style="color: #0474BA;">SNAP</Span>ToFit</h1>
                </div>
                <div class="social">
                    <button>
                        <i class="fa-brands fa-google"></i> <span class="social_text">Google</span>
                    </button>
                    <button>
                        <i class="fa-brands fa-facebook"></i><span class="social_text">Facebook</span>
                    </button>
                </div>
                <h2>Log<span style="color:#0474BA;">In</span></h2>
                <div class="text userName">
                    <input type="text" name="username" class="field" id="username" placeholder="Username" />
                </div>

                <div class="text passWord">
                    <input type="password" name="password" class="field" id="password" placeholder="password" />
                </div>

                <div class="checkbox">
                    <div class="remem">
                        <input type="checkbox" name="" class="rememberme">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <a href="#">Forgot Password</a>
                </div>
                <div class="button">
                    <input type="submit" class="btn" value="Login">
                </div>
                <p> Don't have an account? <a href="signup.html"><span style=" color:#F17720;">sign up</span></a></p> hello -->

            </form>



        </div>
        <div class="container right">
            <div class="sm-nav">
                <ul class="sm">
                    <li class="items">
                        <a href="#" class="sm-link">Blogs</a>
                    </li>
                    <li class="items">
                        <a href="#" class="sm-link">Developer's Contact</a>
                    </li>
                </ul>
            </div>
            <div class="image">

            </div>

        </div>
    </header>
    <script src="" async defer></script>
</body>

</html>