{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>


</head>

<body>

    <div class="header">
        <div class="sub_nav">


            <div class="hamburger">

                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>

            </div>

            <div class="icons">

                <i class="fa fa-envelope-open"></i>
                <i class="fa fa-bell"></i>
                <i class="fa fa-cog"></i>

            </div>


        </div>
        <div class="heading">
            <h1> Welcome Back, {{user}}! </h1>
            {% comment %} <h4> You have already completed 4 missions. You are 5 missions far for your Rs.1000 </h4> {% endcomment %}
        </div>
    </div>
    <div class="first_section">
        <div class="first_row">
            <div class="col col-1"><br>
                <center>
                    <h2> Your data</h2>
                </center>
                <canvas id="line-chart" width="800" height="450"></canvas>
            </div>

            <div class="col col-2">

                <div class="snippet snippet-1">
                    <center>
                        <h2>Height</h2>
                        <h4>{{height}}</h4>

                    </center>
                    <h4></h4>
                </div>
                <div class="snippet snippet-2">

                    <center>
                        <h2>Weight</h2>
                    </center>

                    <h4>{{weight}}</h4>


                </div>
                <div class="snippet snippet-3">

                    <center>
                        <h2>Age</h2>
                    </center>
                    <h4>{{age}}</h4>

                </div>
                <div class="snippet snippet-4">

                    <center>
                        <h2>Gender</h2> 
                    </center>
                    <h4>{{gender}}</h4>

                </div>
            </div>
        </div>

    </div>

    <nav class="nav">
        <div class="BRAND">
            SNAPToFit
        </div>
        <div class="image">
            <img src="Harke.jpg">
            <p class="name"> {{user}} </p>
            <p class="desc"> {{age}} </p>
        </div>

        <div class="nav-elements">
            <center>
                <ul class="nav-links">
                    <li> <a href=" ">HOME</a>
                        <li> <a href=" ">Statistics</a>
                            <li> <a href="{% url 'logout'%}">Log Out</a>
                </ul>
            </center>
        </div>
    </nav>


    <div class="second_section">
        <div class="second_row">

            <div class="col col-1">

                    <center>
                        <h2> Diastolic</h2>
                    </center>
                    <center><p style = "font-size:10px; color:red;">{{msg}}</p></center>
                        <canvas id="scatter-chart" width="800" height="450"></canvas>
                        

            </div>

            <div class="col col-2">

                <H2> Heart Rate </h2>

                <div class="counter">
                    <div class="numb">
                        {{heartrate}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <center>
        <div class="third_section">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d139267.27417793058!2d87.21413532502552!3d26.457293314101367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ef744704331cc5%3A0x6d9a85e45c54b3fc!2sBiratnagar%2056613!5e0!3m2!1sen!2snp!4v1624872111492!5m2!1sen!2snp"
                width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </center>
    <br>
    <footer>
        <center>
            <p>&copy; SNAPToFit. All rights reserved. Designed By Sphinx. </p>
        </center>
    </footer>



    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <script>
         new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
          labels: [{{date|safe}}],
          datasets: [{ 
              data: {{ systolic|safe }},
              label: "systolic",
              borderColor: "#3e95cd",
              fill: false
            },
            { 
              data: {{ diastolic|safe }},
              label: "diastolic",
              borderColor: "#00ff00",
              fill: false
            } 
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Systolic vs Diastolic Blood pressure'
          }
        }
      });


        new Chart(document.getElementById("scatter-chart"), {
        type: 'line',
        data: {
          labels: [{{date|safe}}],
          datasets: [{ 
              data: {{ diastolic|safe }},
              borderColor: "#3e95cd",
              fill: false
            },
            /*
            { 
              data: {{ predict|safe }},
              label: "diastolicpredicted",
              borderColor: "#ff0000",
              fill: false
            } */
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Diastolic Blood pressure'
          }
        }
      });

    </script>


    <script  async defer>
        const h = document.querySelector(".hamburger");
        const n = document.querySelector(".nav");

        h.addEventListener("click", () => {
            n.classList.toggle("open");
        })


        const numb = document.querySelector(".numb");
        let counter = 0;
        setInterval(() => {
            if (counter == 60) {
                clearInterval();
            } else {
                counter += 1;
                numb.textContent = counter + " avgbpm/day";
            }
        }, 80);
    </script>
</body>

</html>
{% endblock content %}